@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

:root {
  --red: #E8001D;
  --red-dark: #B8001A;
  --red-light: #FF1A35;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 2px;
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}
